<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <p>Name:<%= link_to restaurant.name, restaurant_path(restaurant.id) %> Rating: <%= restaurant.rating %></p>
    </li>
  <% end %>
</ul>
<%= link_to "New Restaurant", new_restaurant_path %>

